@page "/"
@inject AuthenticationStateProvider authStateProvider
@inject FonditalAuthenticationState authState
@inject ServicePartnerClient spClient


<h3>Informazioni utente</h3>

<button @onclick="GetClaimsPrincipalData">Ottieni informazioni</button>

<ul>
    @foreach (var attributo in attributi)
    {
        <li>@attributo</li>
    }
</ul>