@page "/"
@inject AuthenticationStateProvider authStateProvider
@inject FonditalAuthenticationState authState
@inject IStringLocalizer<App> localizer

<h3>@localizer["InformazioniUtente"]</h3>

<button @onclick="GetClaimsPrincipalData">@localizer["OttieniInformazioni"]</button>

<ul>
    @foreach (var attributo in attributi)
    {
        <li>@attributo</li>
    }
</ul>
