@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;

<h1>Hello, world!</h1>

<TelerikButton OnClick="SetViewVar">View</TelerikButton>

<div hidden="@ViewVar">
    Welcome to your new app.
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    bool ViewVar;

    public void SetViewVar ()
    {
        ViewVar = !ViewVar;
    }
}