@page "/"
@inject FonditalAuthStateProvider authStateProvider
@inject IStringLocalizer<App> localizer
@inject ServicePartnerClient spClient
@attribute [Authorize]
  

<AuthorizeView>
    <Authorized>
        <h3>@localizer["Benvenuto"] @context.User.Identity.Name</h3>
        <a href="account/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@*<button @onclick="GetClaimsPrincipalData">@localizer["OttieniInformazioni"]</button>

<ul>
    @foreach (var attributo in attributi)
    {
        <li>@attributo</li>
    }
</ul>*@
