@page "/fetchdata"
@inject UtenteClient Http

<h1>Utenti</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (utenti == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>nome</th>
                <th>cognome</th>
                <th>username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ut in utenti)
            {
                <tr>
                    <td>@ut.Nome</td>
                    <td>@ut.Cognome</td>
                    <td>@ut.UserName</td>
                </tr>
            }
        </tbody>
    </table>
}

@*<button class="btn btn-primary" @onclick="chiamaCreazioneTrace">Click me</button>*@