@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Password dimenticata ?  ";
}

<h1>@ViewData["Title"]</h1>
<h4>Inserisci l'email.</h4>
<hr />
<div class="container">
    <div class="log" style="background-color:white!important; padding:0">
        <img src="/img/logo.svg" style="height: 80px; width:150px; " />
    </div>
    <div class="col-md-4">
         <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input placeholder="Email" asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
         </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .col-md-4 {
        margin: auto;
        text-align: justify;
        width: 350px;
        height: auto;
        border: 1px solid #DCDCDC;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .log {
        height: 60px;
        margin-left: 300px;
        text-align: justify;
        width: 350px;
        padding-bottom: 0px;
    }

    .container {
        text-align: justify;
        margin-top: 80px;
        display: flex;
        flex-direction: column
    }

    button {
        width: 275px;
    }
</style>