@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<h1>@ViewData["Title"]</h1>*@
@*<h4>Use a local account to log in.</h4>
<hr />*@


<main class="col-md-12 ms-sm-auto col-lg-12">
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-6 mx-auto mt-160">
                <div class="form-group mb-32">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control form-control-lg w100 icoUtente inp-login" placeholder="Inserisci nome utente ..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-56">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control form-control-lg w100 inp-login icoPsw" placeholder="Inserisci password ..." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>*@
            <div class="form-group">
                <button type="submit" class="btn btn-primary w100 uppercase">LOGIN</button>
            </div>
         </div>
     </form>
    <div class="col-md-6 mx-auto mt-5">
        <div class="form-group linksottolieato">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword" class="font18 nero condensed-bold lt-spacing-1">Forgot your password?</a>
            </p>
            @*<p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="font18 nero condensed-bold lt-spacing-1">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="font18 nero condensed-bold lt-spacing-1">Resend email confirmation</a>
                </p>*@
        </div>
    </div>
</main>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
