@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confermazione della reset password";
}

<h1>@ViewData["Title"]</h1>
<p>
    La password è stata resettata. Please <a asp-page="./Login">click here to log in</a>.
</p>
