@page
@model ChangePasswordModel
@*@{
        ViewData["Title"] = "Cambia password";
        ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    }*@




<main class="col-md-12 ms-sm-auto col-lg-12">

    <partial name="_StatusMessage" for="StatusMessage" />
    
            <form id="change-password-form" method="post">


                <div asp-validation-summary="All" class="text-danger"></div>


                <div class="col-md-6 mx-auto mt-160">
                    <div class="form-group mb-4">
                        <label class="form-label" asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control form-control-lg w100 icoUtente inp-login" placeholder="Inserisci password attuale ..." />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control form-control-lg w100 icoUtente inp-login" placeholder="Inserisci nuova password ..."  />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg w100 icoUtente inp-login" placeholder="Conferma password ... " />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w100 uppercase">Aggiorna password</button>
                    </div>
                </div>


</form>
      

</main>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
