@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<App> localizer
@inject AuthenticationStateProvider authStateProvider

<div class="user-info">
    <AuthorizeView>
        @*<Authorizing>
                <text>...</text>
            </Authorizing>*@
        <Authorized>
            <button class="nav-link" @onclick="BeginSignOut">Benvenuto @context.User.Identity @localizer["Logout"]</button>
        </Authorized>
        @*<NotAuthorized>
                <a class="nav-link" href="authentication/login">@localizer["Accedi"]</a>
            </NotAuthorized>*@
    </AuthorizeView>
</div>
