@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="user-info">
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            <button class="nav-link" @onclick="BeginSignOut">Log Out</button>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link" href="authentication/login">Log In</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
