@layout TelerikLayout
@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject NavigationManager FonditalNavigationManager

<Header></Header>


<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    protected override void OnInitialized()
    {

    }

    protected override void OnAfterRender(bool firstRender)
    {
        JS.InvokeVoidAsync("manipulateActiveLink",
            firstRender,
            FonditalNavigationManager.ToBaseRelativePath(FonditalNavigationManager.Uri));
    }
}