@layout TelerikLayout
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager FonditalNavigationManager


<Header @ref="Header" />

<CascadingValue Value="Header" IsFixed="true">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</CascadingValue>