@layout TelerikLayout
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager FonditalNavigationManager

<Header />
<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>