@page  "/account/forgotpassword"
@inject IStringLocalizer<App> localizer
@inject AuthClient authClient
@inject NavigationManager navManager
@inject ILoginService loginService


<main class="col-md-12 ms-sm-auto col-lg-12">
    <EditForm Model="ForgotForm" OnValidSubmit="ForgotPw">
        <div class="col-md-6 mx-auto mt-160">
            <div asp-validation-summary="All" class="text-danger">
                <Alert Title=@localizer["Attenzione"] Error="@Error" />
            </div>

            <div class="form-group mb-56" contenteditable="false">
                <label class="form-label">@localizer["Email"].Value.ToUpper()</label>
                <InputText @bind-Value="ForgotForm.Email" class="form-control form-control-lg w100 inp-login icoPsw" placeholder=@localizer["Email"] Enabled="false"></InputText>
                <ValidationMessage For="@(() => ForgotForm.Email)" />
            </div>

            <DataAnnotationsValidator />

            <div class="form-group">
                <TelerikButton Icon="account_circle" Class="btn btn-primary w100 uppercase">@localizer["Invia"]</TelerikButton>
            </div>
        </div>
    </EditForm>
</main>