@page  "/account/login"
@inject IStringLocalizer<App> localizer
@inject AuthClient authClient
@inject NavigationManager navManager
@inject ILoginService loginService 

<div class="row">
    <div class="col-12">
        <h2>Login</h2>
        <EditForm Model="model" OnValidSubmit="UserLogin">            
                <label>Email</label>
                <InputText @bind-Value="model.Email"></InputText>

                <label>Password</label>
                <InputText @bind-Value="model.Password"></InputText>

                <hr />
                <DataAnnotationsValidator />
                <ValidationSummary />

                <Alert Title="Attenzione" ErrorList="loginResponse?.Errors" />

                <TelerikButton Icon="account_circle">Login</TelerikButton>
                <hr />
                <TelerikButton OnClick="@(() => navManager.NavigateTo("/account/forgotpassword"))" Icon="lock_open">Reset password</TelerikButton>
        </EditForm>
    </div>
</div>
<!--div class="col-md">
    <section>
        <div class="col-md-4">
            <form id="account" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-gr">
                    <label asp-for="Input.Email"></label>
                    <input placeholder="Nome Utente" asp-for="" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-gr">
                    <label asp-for="Input.Password"></label>
                    <input placeholder="Password" asp-for="" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>
                        <a class="forgot-password" asp-page="./ForgotPassword">localizer[PasswordDimenticata]</a>
                    </p>
                    <p>-->
                        @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>*@
                    <!--</p>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">localizer[Accedi]</button>
                </div>


            </form>
        </div>

    </section>
</div>-->


<style>
    .col-md-4 {
        margin: auto;
        margin-top: 150px;
        text-align: justify;
        width: 300px;
        height: 230px;
        border: 1px solid #DCDCDC;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    button {
        width: 278px;
    }

    .forgot-password {
        font-size: 12px;
    }

    input {
        color: darkgrey;
        border-radius: 0px;
    }
</style>